@font-face {
	font-family: 'Montserrat-Medium';
	src: url(../font/Montserrat-Medium.ttf);
}

@font-face {
	font-family: 'Montserrat-Black';
	src: url(../font/Montserrat-Black.ttf);
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url(../font/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url(../font/Montserrat-Bold.ttf);
}

*,::after,::before { box-sizing: border-box; }

body {
	margin: 0;
	font-family: 'Montserrat-Medium', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p { margin: 0; }

img { max-width: 100%; }

.container {
	max-width: 1080px;
	padding: 0 15px;
	margin: 0 auto;
}

.no-scroll { overflow: hidden; }



/**header-block**/

.nav-bar-panel {
	position: fixed;
	top: 0;
	width: 100%;
	transition: .3s ease-in-out;
}

.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 35px;
	transition: .3s ease-in-out;
}
.scroll .header-block { padding-top: 0; }

.header {
	background-color: #ccdef0;
	background-image: radial-gradient(circle 675px at center, #fff 0%, #ccdef0 100%);
	padding-bottom: 50px;
	/*height: 100vh;*/
}

.logo {
	font-family: Montserrat-Black;
	font-size: 28px;
	line-height: 1;
}
.logo span { color: #5abb33; }

.nav__bar {
	display: flex;
	flex-wrap: wrap;
}

.nav__bar li { margin-right: 50px; }

.nav__bar li:last-child { margin-right: 0; }

.nav__link {
	font-family: Montserrat-Medium;
	font-size: 18px;
	position: relative;
}

.nav__link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 100%;
	border: .7px solid #000;
	transition: .3s ease-in-out;
	transform: scale(0);
}
.nav__link:hover::before { transform: scale(1); }

.nav-bar-panel.scroll {
	background-color: #ccdef0;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	padding: 10px 0;
}



/**burger-menu**/

.burger-menu { display: none; }

.burger-menu__link {
	position: relative;
	display: block;
    width: 45px;
    height: 45px;
}

.burger-menu .burger-menu__link span,
.burger-menu .burger-menu__link span::before,
.burger-menu .burger-menu__link span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 5px;
    margin-left: -22.5px;
    margin-top: -4px;
    background-color: #34383c;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.burger-menu .burger-menu__link span::before,
.burger-menu .burger-menu__link span::after {
    content: '';
}
.burger-menu .burger-menu__link span::before {
    transform: translateY(-10px);
}
.burger-menu .burger-menu__link span::after {
    transform: translateY(13px);
}

.burger-active .burger-menu__link span { height: 0; }
.burger-active .burger-menu__link span::before { transform: rotate(45deg); }
.burger-active .burger-menu__link span::after { transform: rotate(-45deg); }
.burger-active .burger-menu__link span::before,
.burger-active .burger-menu__link span::after {
	background-color: #fff;
}



/**header-content**/

.header-content__block {
	display: flex;
	justify-content: space-between;
	padding-top: 200px;
}

.header-content__text {
	flex: 0 1 500px;
	padding-top: 75px;
}

.header-content__img { flex: 0 1 670px; }

.header-title {
	font-family: Montserrat-ExtraBold;
	font-size: 48px;
	margin-bottom: 35px;
}

.header-info { margin-bottom: 35px; }

.header-info p {
	font-size: 20px;
	line-height: 1.7;
}

.button__link {
	background-color: #fadb60;
	background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);
	box-shadow: 0px 2px 4px 0px rgba(8, 63, 136, 0.08);
	border-radius: 33px;
	padding: 15px 35px;
	font-family: Montserrat-Bold;
	font-size: 24px;
	transition: .3s ease-in-out;
	display: block;
	text-align: center;
	max-width: 300px;
}
.button__link:hover { box-shadow: 0px 8px 22px 0px rgba(8, 63, 136, 0.15); }

/**social**/

.social__box {
	display: flex;
}

.social__box li { margin-right: 30px; }
.social__box li:last-child { margin-right: 0; }

.social__link {
	font-size: 27px;
	color: #34383c;
	transition: .2s ease-in-out;
}
.social__link:hover { opacity: .8; }


/**footer**/

.footer {
	background-color: #232323;
	padding: 40px 0;
	color: #fff;
	text-align: center; 
}
.footer__text { padding: 0 15px; }
.footer__link {
	color: #fada50;
	position: relative;
}

.footer__link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	border: .6px solid #fada50;
	transition: .3s ease-in-out;
	transform: scale(0);
}
.footer__link:hover::before { transform: scale(1); }