* { box-sizing: border-box;}

body {
	margin: 0;
	font-family: 'Arial';
}


.water {
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.water:before {
	content: '';
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);
}